.form{

    width: 600px;
   
}

.nom{
background-color: dodgerblue;
font-style: italic;


}

.leg{
    text-decoration: underline;
    font-weight:  bolder;
}

.nac{
background-color: orangered;
font-style: italic;


}

.est{
background-color: yellowgreen;
}

.idi{
background-color: red;
}

.env{
background-color: gray;
}